In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [4]:
##找出3,4,8 ㄉ animal,age

In [5]:
print(df.iloc[2,:2],df.iloc[3,:2],df.iloc[7,:2])

animal    snake
age         0.5
Name: c, dtype: object animal    dog
age       NaN
Name: d, dtype: object animal    cat
age       NaN
Name: h, dtype: object

In [6]:
df = pd.DataFrame([
    ['tom', 'mark', 'mary'],
    ['bob', 'alice', 'john']
])
df

     0      1     2
0  tom   mark  mary
1  bob  alice  john

In [7]:
##字串大寫開頭

In [8]:
df.applymap(str.capitalize)

     0      1     2
0  Tom   Mark  Mary
1  Bob  Alice  John